@import "tailwindcss";

@theme {
  --spacing-12: 2rem;
  --spacing-8: 1.25rem;
  --font-size-5xl: 2.25rem;
  --font-size-7xl: 3.5rem;
}

body {
  font-size: 0.875rem; /* Base size reduced */
}

h2 {
  letter-spacing: -0.025em;
}

button {
  cursor: pointer;
}
